body{
	font-family: Arial, Helvetica, sans-serif;
	color: #848484;
	font-size: 16px;
	background-color: #fff;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;	
}
.header-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	text-decoration: none;
}
.logo img{
	padding-left: 20px;
}
.main-nav ul{
	list-style: none;
	margin: -4px 12px 0 0;
	padding: 60px 0;
	border-left: 2px solid #ebebeb;
	font-family: 'Maven Pro', sans-serif;
}
.main-nav li{
	display: inline-block;
	padding-left: 25px;
}
.main-nav a:hover{
	color: #ffe13e;
}
.main-nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #202242;
}
.main-block{
	background: url(../images/Block-back.jpg) 100% 0 no-repeat;
	color: #fff;
	text-align: center;
}
.main-block-inner{
	padding: 13% 0 24%;
	position: relative;
}
.micro{
	font-size: 48px;
	background: url(../images/Molek.png) 50% 90px no-repeat;
	padding-bottom: 150px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	margin-bottom: 55px;
}
.in{
	border: 20px solid #dddddd;
	width: 570px;
	position: absolute;
	left: 25%;
	background-color: #dddddd;
}
.field{
	width: 383px;
	height: 55px;
	outline: none;
}
.btn{
	background-color: #ffe13e;
	height: 55px;
	width: 142px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	border: 1px solid #ffe13e;
	outline: none;
	cursor: pointer;
}
.btn:active{
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
}
.mid-block{
	background-color:#ffe13e;
	position: relative;
	margin-bottom: 80px;
}
.mid-back{
	width: 50%;
	height: 100%;
	position: absolute;
	background: #202242;
	z-index: 10;
}
.all-block{
	font-family: 'Raleway', sans-serif;
	display: flex;
	z-index: 12;
	position: relative;
}
.block{
	width: 50%;
	box-sizing: border-box;
	text-align: center;
	padding: 80px 100px 100px;
	color: #fff;
}
.block h3{
	font-size: 36px;
	font-family: 'Maven Pro', sans-serif;
	padding-bottom: 0;
	margin: 0;
	font-weight: 400;
}
.block p{
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}
.block a{
	padding: 0 55px;
	height: 50px;
	display: inline-block;
	box-sizing: border-box;
	line-height: 50px;
	border: 2px solid #fff;
	text-decoration: none;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	margin-top: 20px;
}
.ic-block{
	background-color: #fbf8f1;
	background: url(../images/back.png) 50% 0 no-repeat;
	text-align: center; 
	color:#202242;
}
.main-ic{
	padding: 5% 0 15%;
	position: relative;
	display: flex;
	justify-content: space-between;
}
.box{
	width: 25%;
	padding: 0 10px;
	max-width: 270px;
}
.ic-block h3{
	font-size: 48px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
.mini-h{
	font-size: 24px;
}
.box-1{
	background: url(../images/icon-1.png) 50% 0 no-repeat;
}
.text-box{
	margin-top: 140px;
	padding-top:50px ;
}
.box h4{
	color: #f4d320;
	font-size: 30px;
	margin: 0;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
}
.box p{
	font-size: 14px;
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
}
.box-2{
	background: url(../images/icon-2.png) 50% 0 no-repeat;
}
.box-3{
	background: url(../images/icon-3.png) 50% 0 no-repeat;
}
.box-4{
	background: url(../images/icon-4.png) 50% 0 no-repeat;
}
.box a{
	text-decoration: none;
	text-transform: uppercase;
	color: #202242;
	font-family: 'Raleway', sans-serif;
}
.text-box a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #202242;
	margin-top:35px;
	font-family: 'Raleway', sans-serif;
}
.our-block{
	display: flex;
	margin-bottom: 80px;
}
.our-text{
	width: 30%;
}
.our-text h4{
	font-size: 36px;
	font-weight: 400;
	padding-left: 20px;
	margin: 0;
	font-family: 'Maven Pro', sans-serif;
}
.our-text p{
	color: #adadad;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}
.company{
	width: 70%;
	padding-top: 15px;
}
.company a{
	padding-right: 20px;
}
.main-avtor{
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
.avtor{
	max-width: 370px;
	width: 33.3%;
	margin-right: 30px;
	background-color: #faf9f9;
	padding-top: 10px;
	position: relative;
	padding-bottom: 40px;
}
.avtor p{
	padding: 0 50px 0 15px;
	font-size: 14px;
	color: #a4a4a4;
	font-family: 'Raleway', sans-serif;
}
.avtor span{
	padding: 0 50px 0 15px;
	font-size: 16px;
	color: #696969;
	position: absolute;
	top: 75%;
	font-family: 'Raleway', sans-serif;
}
.avtor img{
	width: 90px;
	height: 90px;
	position: absolute;
	border-radius: 50%;
	left: 70%;
	top: 70%;
}
.footer{
	text-align: center;
	background-color: #202242;
	padding: 75px 0;
	color: #fff;
	background-image: url(../images/mini-molek.png);
	background-repeat: no-repeat;
	background-position: 50% 20%;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}
